/* Styles for the navbar buttons */
.navbar .btn {
  padding: 4px 8px;
  border: 1px solid grey;
}

/* Styles for the font size of icons in the navbar links */
.navbar a i {
  font-size: 2rem;
}

/* Styles for the font size and color of icons in the collapsed navbar menu */
.navbar .navbar-collapse ul li i {
  font-size: 1rem;
  color: grey;
}

/* Styles for the main content area */
main .container-fluid {
  min-height: 80vh;
}

/* Styles for the left column in the main content area */
main .container-fluid .col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  min-height: 80vh;
}

/* Styles for the circular icon in the left column */
main .container-fluid .col-3 .icon-class {
  border: 1px solid grey;
  padding: 40px 25px;
  border-radius: 80%;
}

/* Styles for the font size of icons in the left column */
main .container-fluid .col-3 i {
  font-size: 15rem;
}

/* Styles for the list of repositories in the main content area */
main .container-fluid .col-9 ul {
  list-style-type: none;
  padding: 0;
}

/* Styles for individual repository items in the main content area */
main .container-fluid .col-9 .repo-grid li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

/* Styles for the repository grid layout in the main content area */
.repo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Styles for the pagination section */
.pagination {
  margin-top: 20px;
}

/* Styles for individual page links in the pagination section */
.page-link {
  margin-right: 10px;
  cursor: pointer;
}

/* Styles for languages with a background color of blue */
li .languages {
  background-color: rgba(0, 107, 107, 0.297);
}
